.filter__option {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  color: #192024;
  letter-spacing: -1px;
  &:not(:last-child) {
    margin-right: 24px;
  }

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 700px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
