@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue'), url('./fonts/HelveticaNeue.ttf') format('ttf');
}

* {
  font-family: 'HelveticaNeue', Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f9fafb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
